/* global style */

body {
  margin: 0;
  padding: 0;
  background-color: #ddd;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; /* default typeface */
  line-height: 1.6em;
}

#container header, #container main, #container footer, #container article {
  padding: 1rem 2.5rem;
}

/* content style */

#container {
  max-width: 65rem;
  margin: 3rem auto 0; /* adds space around floating page */
  /*margin: 3rem auto;*/  /* alternative to above */
  box-shadow: 0px 2px 6px rgba(100, 100, 100, 0.3);
  padding: 0;
  background-color: #fff;
}

@media all and (max-width: 70rem) {
  #container {
    margin: 0 auto;
  }
}

h1, h2, h3 {
  color: #838384;
}

/* site navigation bar style */

#site_navigation {
  display: block;
  margin: 2rem 0;
  border-top: 1px #ddd solid;
  border-bottom: 1px #ddd solid;
  padding: 0;
  list-style: none;
}

#site_navigation li {
  display: inline-block;
  margin-right: 2em;
}

@media all and (max-width: 43rem) {
  #site_navigation li {
    display: block;
    text-align: center;
  }
}

#site_navigation a {
  display: inline-block;
  padding: 0.5em 0 0.5em;  /* makes area around links clickable */
  color: #838484;
  text-decoration: none;
}

#site_navigation a:hover {
  color: #000;
}

/* optional style for a navigation link to the current page (marked using the class `__current`) */
#site_navigation a.__current {
  font-weight: bold;
}

/* header image style */

#container header #header_image {
  max-width: 100%;
  border-radius: 3px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

/* main content style */

/* footer style */

#container footer {
  margin-top: 1rem;
  color: #fff;
  background-color: #838484;
  text-align: center;
  font-size: 0.8em;
  line-height: 1.3em;
}

#container footer a {
  color: #ccf;  /* make links in the footer apear clearer */
}
